<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @booking.product.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user.email %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @booking.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @booking.end_date %>
</p>

<% if @booking.start_date > Date.today %>
  <p>Status: Booked</p>
<% elsif @booking.start_date <= Date.today && Date.today <= @booking.end_date %>
  <p>Status: Ongoing</p>
<% elsif @booking.end_date == Date.today %>
  <p>Status: Finished</p>
<% end %>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', @booking.product %>
