<section class="case section grid" id="case">
  <h2 class="section__title section__title-gradient">Edit User</h2>
  <div class="case__container container grid">
    <div>
<%= form_for(@user, url: registration_path(@user)) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :district %>
  <%= f.text_field :district %>

  <%= f.label :country %>
  <%= f.text_field :country %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :current_password %>
  <%= f.password_field :current_password %>

  <%= f.submit 'Update' %>
<% end %>
</section>
