<h1>Users Info</h1>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= user.email %></h5>
          <p class="card-text">Number of bookings: <%= user.bookings.count %></p>
          <a class="btn btn-primary" data-toggle="collapse" href="#bookings-<%= user.id %>" role="button" aria-expanded="false" aria-controls="bookings-<%= user.id %>">
            View Bookings
          </a>
          <div class="collapse" id="bookings-<%= user.id %>">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th>Date Booked</th>
                  </tr>
                </thead>
                <tbody>
                  <% user.bookings.each do |booking| %>
                    <tr>
                      <td><%= booking.product.name %></td>
                      <td><%= booking.created_at.strftime('%m/%d/%Y') %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
