<h1>Sign up</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :district %>
  <%= f.text_field :district %>

  <%= f.label :country %>
  <%= f.text_field :country %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit 'Create' %>
<% end %>
