        <section class="user-profile section grid" id="user-profile">
          <h2 class="section__title section__title-gradient">User Profile</h2>
          <div class="user-profile__container container grid">
            <div class="user-profile__content grid">
              <% if @user.photo.attached? %>
                <%= cl_image_tag @user.photo.key, alt:"profile image", class:"user-profile__img", style:"max-width: 100px; max-height: 100px; margin-bottom: 10px;" %>
              <% else %>
                <%= image_tag "https://st.depositphotos.com/2218212/2938/i/600/depositphotos_29387653-stock-photo-facebook-profile.jpg", alt:"profile image", class:"user-profile__img", style:"max-width: 100px; max-height: 100px; margin-bottom: 10px;" %>
              <% end %>
              <div>
                <% if @user == current_user %>
                  <%= link_to "Edit Profile", edit_user_registration_path, class:"user-profile__edit-link" %>
                <% end %>
                <h3 class="user-profile__title"><%= @user.email.split('@').first %> - <%= @user.city %>, <%= @user.country %></h3>
                <ul class="user-profile__list">
                  <li class="user-profile__item"><strong>Reviews:</strong>
                    <% if @user.products.any? %>
                      <% sum = 0 %>
                      <% count = 0 %>
                      <% @user.products.each do |product| %>
                        <% if product.reviews.any? %>
                          <% sum += product.average_rating.to_f %>
                          <% count += 1 %>
                        <% end %>
                      <% end %>
                      <% if count > 0 %>
                        <%= content_tag :li, class:"user-profile__item" do %>
                          <strong>Overall average rating:</strong> <%= (sum/count).round(2) %>
                        <% end %>
                      <% else %>
                        <%= content_tag :li, class:"user-profile__item" do %>
                          There are no ratings for this user's products.
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= content_tag :li, class:"user-profile__item" do %>
                        This user has no listed products.
                      <% end %>
                    <% end %>
                  </li>
                  <li class="user-profile__item"><strong>Email:</strong> <%= @user.email %></li>
                  <li class="user-profile__item"><strong>Phone Number:</strong> <%= @user.phone_number %></li>
                  <li class="user-profile__item"><strong>City:</strong> <%= @user.city %></li>
                  <li class="user-profile__item"><strong>District:</strong> <%= @user.district %></li>
                  <li class="user-profile__item"><strong>Country:</strong> <%= @user.country %></li>
                  <li class="user-profile__item"><strong>Account Created:</strong> <%= @user.created_at.to_date %></li>
                  <li class="user-profile__item"><strong>Number of Listings:</strong> <%= @user.products.count %></li>
                </ul>
              </div>
            </div>
          </div>
        </section>

<h1>User Profile</h1>
<div style="display: flex">
<% if @user.photo.attached? %>
  <%= cl_image_tag @user.photo.key, alt:"profile image", style:"max-width: 100px; max-height: 100px; margin-bottom: 10px;", alt:"profile image", style:"max-width: 100px; max-height: 100px; margin-bottom: 10px;" %>
    <style>
      img {
        border-radius: 50%;
        object-fit: cover;
        height: 100px;
        width: 100px;
      }
    </style>
<% else %>
  <%= image_tag "https://st.depositphotos.com/2218212/2938/i/600/depositphotos_29387653-stock-photo-facebook-profile.jpg", alt:"profile image", style:"max-width: 100px; max-height: 100px; margin-bottom: 10px;", alt:"profile image", style:"max-width: 100px; max-height: 100px; margin-bottom: 10px;" %>
    <style>
      img {
        border-radius: 50%;
        object-fit: cover;
        height: 100px;
        width: 100px;
      }
    </style>
<% end %>
<style>
  img {
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    width: 100px;
  }
</style>
  <div>
    <% if @user == current_user %>
      <%= link_to "Edit Profile", edit_user_registration_path %>
    <% end %>
    <h2 style="margin-top: 0;"><%= @user.email.split('@').first %> - <%= @user.city %>, <%= @user.country %></h2>
      <p><strong>Reviews:</strong>
        <% if @user.products.any? %>
          <% sum = 0 %>
          <% count = 0 %>
          <% @user.products.each do |product| %>
            <% if product.reviews.any? %>
              <% sum += product.average_rating.to_f %>
              <% count += 1 %>
            <% end %>
          <% end %>
          <% if count > 0 %>
            <p><strong>Overall average rating:</strong> <%= (sum/count).round(2) %></p>
          <% else %>
            <p>There are no ratings for this user's products.</p>
          <% end %>
        <% else %>
          <p>This user has no listed products.</p>
        <% end %>
      </p>
      <li><strong>Email:</strong> <%= @user.email %></li>
      <li><strong>Phone Number:</strong> <%= @user.phone_number %></li>
      <li><strong>City:</strong> <%= @user.city %></li>
      <li><strong>District:</strong> <%= @user.district %></li>
      <li><strong>Country:</strong> <%= @user.country %></li>
      <li><strong>Account Created:</strong> <%= @user.created_at.to_date %></li>
      <li><strong>Number of Listings:</strong> <%= @user.products.count %></li>
    </ul>
  </div>
</div>

<% if @listings.nil? %>
  <p>No listings found.</p>
<% elsif @listings.any? { |listing| !listing.reviews.empty? } %>
  <% sum = 0 %>
  <% count = 0 %>
  <% @listings.each do |listing| %>
    <% if !listing.reviews.empty? %>
      <% sum += listing.average_rating.to_f %>
      <% count += 1 %>
    <% end %>
  <% end %>
  <p><strong>Overall average rating:</strong> <%= (sum/count).round(2) %></p>
<% else %>
  <p>No reviews for this User</p>
<% end %>

<h2>Listings</h2>
<% if @listings.nil? %>
  <p>No listings found.</p>
<% else %>
  <div class="card-deck">
    <% @listings.each do |listing| %>
      <div class="card shadow-sm" style="width: 18rem;">
        <% if listing.photo.attached? %>
          <%= cl_image_tag listing.photo.key, alt:"product image", class:"card-img-top" %>
        <% else %>
          <%= image_tag "https://st.depositphotos.com/2218212/2938/i/600/depositphotos_29387653-stock-photo-facebook-profile.jpg", alt:"product image", class:"card-img-top" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to listing.name, product_path(listing) %></h5>
          <% if listing.reviews.any? %>
            <% sum = 0 %>
            <% count = 0 %>
            <% listing.reviews.each do |review| %>
              <% sum += review.rating.to_f %>
              <% count += 1 %>
            <% end %>
            <% if count > 0 %>
              <p class="card-text">Rating: <%= (sum/count).round(2) %></p>
            <% end %>
          <% end %>
          <p class="card-text"><%= link_to listing.product_type, products_path(product_type: listing.product_type) %></p>
          <p class="card-text">Price per day: <%= listing.price %>€</p>
          <% if listing.user_id == current_user.id %>
            <%= link_to "Edit", edit_product_path(listing), class: "btn btn-primary" %>
            <%= link_to "Delete", product_path(listing.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
        <% bookings = listing.bookings.where("end_date >= ?", Date.today) %>

          <% bookings.each do |booking| %>
            <% if booking.product.user == current_user %>
              <% if bookings.any? %>
              <h3>Bookings for this Listing</h3>
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <% if booking.user.photo.attached? %>
                        <%= link_to cl_image_tag(booking.user.photo.key, alt: "user profile photo", class: "rounded-circle", style: "max-width: 50px; max-height: 50px;"), user_path(booking.user) %>
                      <% else %>
                        <%= link_to image_tag("https://www.jumpplus.com/web/image/product.template/25452/image_1024?unique=c11fb7b", alt: "user profile photo", class: "rounded-circle", style: "max-width: 50px; max-height: 50px;"), user_path(booking.user) %>
                      <% end %>
                      <%= link_to booking.user.email.split('@').first, user_path(booking.user) %>
                    </div>
                    <div class="col-md-8">
                      <p>Start date: <%= booking.start_date.strftime("%B %d, %Y") %></p>
                      <p>End date: <%= booking.end_date.strftime("%B %d, %Y") %></p>
                      <p>Total price: <%= (booking.end_date - booking.start_date).to_i * listing.price %>€</p>
                    </div>
                    <div class="col-md-2">
                      <%= link_to "Cancel Booking", product_booking_path(listing, booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
              <% else %>
                <p>No bookings for this listing.</p>
              <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

  <div class="card-deck">
    <% @bookings.each do |booking| %>
      <% if @user == current_user %>
        <h2>Bookings</h2>
          <% if @bookings.nil? %>
            <p>No bookings found.</p>
            <% else %>
          <div class="card shadow-sm" style="width: 18rem;">
          <% if booking.product.photo.attached? %>
            <%= cl_image_tag booking.product.photo.key, alt:"product image", class:"card-img-top" %>
          <% else %>
            <%= image_tag "<https://www.thermaxglobal.com/wp-content/uploads/2020/05/image-not-found.jpg>", alt:"product image", class:"card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to booking.product.name, product_path(booking.product) %></h5>
            <p class="card-text">Start date: <%= booking.start_date.strftime("%B %d, %Y") %></p>
            <p class="card-text">End date: <%= booking.end_date.strftime("%B %d, %Y") %></p>
            <p class="card-text">Total price: <%= (booking.end_date - booking.start_date).to_i * booking.product.price %>€</p>
            <% if booking.product.user.photo.attached? %>
              <%= link_to cl_image_tag(booking.product.user.photo.key, alt: "user profile photo", class: "rounded-circle", style: "max-width: 50px; max-height: 50px;"), user_path(booking.product.user) %>
            <% else %>
              <%= link_to image_tag("<https://www.thermaxglobal.com/wp-content/uploads/2020/05/image-not-found.jpg>", alt: "user profile photo", class: "rounded-circle", style: "max-width: 50px; max-height: 50px;"), user_path(booking.product.user) %>
            <% end %>
            <%= link_to booking.product.user.email.split('@').first, user_path(booking.product.user) %>


            <%= link_to "Cancel Booking", product_booking_path(booking.product, booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>





