 <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="/" class="nav__logo" id="nav-logo">
                    <img src="https://i.imgur.com/5m7lrBN.png">
                </a>
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <%= link_to "New Product", new_product_path, class: "nav__link active-link" %>
                        </li>
                        <li class="nav__item">
                            <%= link_to "Gaming PC's", products_path(product_type: "Gaming PC"), class: "nav__link active-link" %>
                        </li>
                        <li class="nav__item">
                            <%= link_to "Consoles", products_path(product_type: "Consoles"), class: "nav__link" %>
                        </li>
                        <li class="nav__item">
                           <%= link_to "Games", products_path(product_type: "Games"), class: "nav__link" %>
                        </li>
                        <li class="nav__item">
                            <a href="" class="nav__link">Products</a>
                        </li>
                        <li class="nav__item">
                             <% if user_signed_in? %>
                          <li class="nav-item dropdown">
                            <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                            <style>
                            .avatar {
                              height: 70px;
                              width: 70px;
                              object-fit: cover;
                            }
                            </style>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                              <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
                              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                            </div>
                          </li>
                        <% else %>
                          <li class="nav__link">
                            <%= link_to "Login", new_user_session_path, class: "nav__link" %>
                          </li>
                        <% end %>
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>
