<h1>Products</h1>

<%= form_tag products_path, :method => 'get' do %>
  <%= label_tag :search, 'Search for product:' %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search' %>
<% end %>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %>

      <%= product.description %>

      <%= number_to_currency(product.price) %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Product', new_product_path %>
