<div class="container">
  <div class="row mb-3">
  <div class="col-md-8">
    <%= form_tag(products_path, method: :get) do %>
      <%= text_field_tag(:search, params[:search], placeholder: "Search for products...") %>
      <%= submit_tag "Search", class: 'btn btn-primary' %>
    <% end %>
  </div>
   <div class="col-md-4">
    <%= link_to('New Product', new_product_path, class: 'btn btn-primary float-md-right') %>
    </div>
  </div>
  <style>
  #search{
    width:505px;
    }

    /* Button */
    .col-md-8 form .btn-primary{
    transform:translatex(530px) translatey(-34px);
    }

    /* Button */
    .container .col-md-4 .btn-primary{
    transform:translatex(113px) translatey(-3px);

    }
    </style>

  <div class="row">


    <% @products.each do |product| %>
      <div class="col-md-4 mb-3">
            <div class="card">
              <%= link_to product_path(product) do %>
                <%= cl_image_tag product.photo.key, width: 400, height: 300, class:"card-img-top", alt:"Product image"%>
              <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= link_to product.name, product_path(product) %></h5>
                  <div class="price-info d-flex justify-content-between">
                    <p class="card-text"><%= number_to_currency(product.price) %></p>
                    <%= link_to product_path(product) do %>
                        <i class="fas fa-info-circle fa-lg" id='info-button'></i>
                    <% end %>
                  </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
