
<h1>Products</h1>

<%= form_tag products_path, :method => 'get' do %>
  <%= label_tag :search, 'Search for product:' %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search' %>
<% end %>

<div class="product-cards">
  <% @products.each do |product| %>
    <div class="product-card">
      <div class="product-card__name"><%= link_to product.name, product_path(product) %></div>
      <div class="product-card__description"><%= product.description %></div>
      <div class="product-card__price"><%= number_to_currency(product.price)  %><h6>/day</h6></div>
      <%= link_to "Details", product_path(product), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<%= link_to 'New Product', new_product_path %>
