<section class="case section grid" id="case">
  <h2 class="section__title section__title-gradient">New Product</h2>
  <div class="case__container container grid">
    <div>
      <%= form_for @product, html: { class: "form" } do |f| %>
        <div class="form-group">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: "footer__form footer__input", placeholder: "Enter product name" %>
        </div>
        <div class="form-group">
          <%= f.label :description, class: "form-label" %>
          <%= f.text_area :description, class: "footer__form footer__input", placeholder: "Enter product description" %>
        </div>
        <div class="form-group">
          <%= f.label :price, class: "form-label" %>
          <%= f.text_field :price, class: "footer__form footer__input", placeholder: "Enter product price" %>
        </div>
        <div class="form-group">
          <%= f.label :product_type %>
          <%= f.select :product_type, ['Gaming PC', 'Consoles', 'Games'], {}, { class: 'footer__form footer__input' } %>
        </div>
        <div class="form-group">
          <%= f.label :photo %>
          <%= f.file_field :photo, class: "footer__form footer__input" %>
          <%= f.submit 'Create', class: "button button--flex" %>
         <% end %>
        </div>

    </div>
<div class="case__data">
</div>
 </div>
</section>
