<h1><%= @product.name %></h1>

<p><%= @product.description %></p>
<p><%= number_to_currency(@product.price) %> / day</p>

<%= form_for([@product, @review]) do |f| %>
  <p>
    <%= f.label :rating, "Rating (1-5)" %>
    <%= f.number_field :rating, min: 1, max: 5 %>
  </p>
  <p>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit "Submit Review" %>
  </p>
<% end %>

<%= link_to "Back", products_path %>
