<h5>New Review</h5>

<%= form_for [@product, @review] do |f| %>
  <%= f.label :rating %>
  <%= f.select :rating, [1, 2, 3, 4, 5] %>

  <%= f.label :comment %>
  <%= f.text_area :comment %>

  <%= f.submit "Submit Review" %>
<% end %>
